In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r'C:\Users\susin\OneDrive\Desktop\Analysis\Stack Overflow 2025 Analysis\Data\raw\survey_results_public.csv')
print(f"Total Rows: {df.shape[0]}")
print(f"Total Columns: {df.shape[1]}")

Total Rows: 49191
Total Columns: 172

C:\Users\susin\AppData\Local\Temp\ipykernel_28052\3828545215.py:1: DtypeWarning: Columns (56,74,92,97,98,105,109,110,132,162,165) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\susin\OneDrive\Desktop\Analysis\Stack Overflow 2025 Analysis\Data\raw\survey_results_public.csv')

In [10]:
working_cols = [
    'ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork',
    'EdLevel', 'YearsCode', 'DevType', 'Country',
    'LanguageHaveWorkedWith', 'ConvertedCompYearly', 'AISelect', 'AIAgents'
]
df_clean = df[working_cols].copy()
df_clean['MainBranch'] = df_clean['MainBranch'].astype('category')
df_clean['RemoteWork'] = df_clean['RemoteWork'].astype('category')

print(f"Memory reduced! New shape: {df_clean.shape}")

Memory reduced! New shape: (49191, 13)

In [12]:
df_clean.head(2)

,ResponseId,MainBranch,Age,Employment,RemoteWork,EdLevel,YearsCode,DevType,Country,LanguageHaveWorkedWith,ConvertedCompYearly,AISelect,AIAgents
0,1,I am a developer by profession,25-34 years old,Employed,Remote,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",14.0,"Developer, mobile",Ukraine,Bash/Shell (all shells);Dart;SQL,61256.0,"Yes, I use AI tools monthly or infrequently","Yes, I use AI agents at work monthly or infreq..."
1,2,I am a developer by profession,25-34 years old,Employed,"Hybrid (some in-person, leans heavy to flexibi...","Associate degree (A.A., A.S., etc.)",10.0,"Developer, back-end",Netherlands,Java,104413.0,"Yes, I use AI tools weekly","No, and I don't plan to"

In [13]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49191 entries, 0 to 49190
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ResponseId              49191 non-null  int64
 1   MainBranch              49191 non-null  category
 2   Age                     49191 non-null  object
 3   Employment              48339 non-null  object
 4   RemoteWork              33780 non-null  category
 5   EdLevel                 48149 non-null  object
 6   YearsCode               43042 non-null  float64
 7   DevType                 43680 non-null  object
 8   Country                 35437 non-null  object
 9   LanguageHaveWorkedWith  31671 non-null  object
 10  ConvertedCompYearly     23947 non-null  float64
 11  AISelect                33720 non-null  object
 12  AIAgents                31919 non-null  object
dtypes: category(2), float64(2), int64(1), object(8)
memory usage: 4.2+ MB

In [17]:
df_final = df_clean.dropna(subset=['ConvertedCompYearly', 'LanguageHaveWorkedWith'])
print(f"Focused Dataset Rows: {len(df_final)}")

Focused Dataset Rows: 22121

In [18]:
print(f"Original Max Salary: ${df_final['ConvertedCompYearly'].max():,.0f}")
print(f"Original Min Salary: ${df_final['ConvertedCompYearly'].min():,.0f}")

Original Max Salary: $33,552,715
Original Min Salary: $1

In [19]:
low_limit = df_final['ConvertedCompYearly'].quantile(0.05)
high_limit = df_final['ConvertedCompYearly'].quantile(0.95)
df_refined = df_final[
    (df_final['ConvertedCompYearly'] >= low_limit) &
    (df_final['ConvertedCompYearly'] <= high_limit)
]
print(f"\nâœ… Cleaned Salary Range: ${low_limit:,.0f} to ${high_limit:,.0f}")
print(f"Final rows for analysis: {len(df_refined)}")

âœ… Cleaned Salary Range: $3,495 to $232,029
Final rows for analysis: 19918

In [20]:
# 1. First, create a focused Tech DataFrame
tech_df = df_refined[['ResponseId', 'LanguageHaveWorkedWith', 'ConvertedCompYearly']].copy()

# 2. Split the strings into actual Python lists
tech_df['Language'] = tech_df['LanguageHaveWorkedWith'].str.split(';')

# 3. Explode the lists into individual rows
# This turns 1 row with 3 languages into 3 rows with 1 language each
tech_exploded = tech_df.explode('Language')

# 4. Clean up any accidental spaces
tech_exploded['Language'] = tech_exploded['Language'].str.strip()

# 5. Let's see your new "Language Popularity" list
print("Top 10 Languages for the 20,000 Pros we filtered:")
print(tech_exploded['Language'].value_counts().head(10))

Top 10 Languages for the 20,000 Pros we filtered:
Language
JavaScript                 13435
HTML/CSS                   12495
SQL                        12310
Python                     11380
Bash/Shell (all shells)    10055
TypeScript                  9335
C#                          5897
Java                        5590
PowerShell                  4927
C++                         4037
Name: count, dtype: int64

In [21]:
# 1. Group by Language and calculate Median Salary
# We also count how many people use it to ensure the data is reliable
lang_stats = tech_exploded.groupby('Language')['ConvertedCompYearly'].agg(['median', 'count'])

# 2. Filter for reliability: Only look at languages with at least 500 responses
# This prevents a random language used by 2 people from appearing at the top
lang_stats = lang_stats[lang_stats['count'] >= 500]

# 3. Sort by the highest median salary
top_paying = lang_stats.sort_values(by='median', ascending=False).head(10)

print("ðŸ’° Top 10 Highest Paying Languages (Min 500 responses):")
print(top_paying)

ðŸ’° Top 10 Highest Paying Languages (Min 500 responses):
                          median  count
Language
Elixir                   98612.0    529
Ruby                     98612.0   1337
Perl                     94264.0    695
Swift                    88980.0   1052
Groovy                   88945.0   1047
Go                       85812.0   3279
Bash/Shell (all shells)  81685.0  10055
PowerShell               81210.0   4927
Rust                     81210.0   2722
TypeScript               79062.0   9335

In [22]:
# 1. Define our Career Paths
def categorize_tech(lang):
    if lang in ['Python', 'SQL', 'R', 'Julia']:
        return 'Data & AI'
    elif lang in ['JavaScript', 'HTML/CSS', 'TypeScript', 'PHP', 'Ruby', 'Elixir']:
        return 'Web Development'
    elif lang in ['Bash/Shell (all shells)', 'Go', 'Rust', 'PowerShell']:
        return 'Cloud & DevOps'
    elif lang in ['C#', 'Java', 'C++', 'C']:
        return 'Enterprise & Systems'
    else:
        return 'Other'

# 2. Apply the categorization
tech_exploded['Path'] = tech_exploded['Language'].apply(categorize_tech)

# 3. Calculate Median Salary by Career Path
path_salaries = tech_exploded.groupby('Path')['ConvertedCompYearly'].median().sort_values(ascending=False)

print("ðŸš€ Median Salary by Career Path in 2025:")
print(path_salaries)

ðŸš€ Median Salary by Career Path in 2025:
Path
Cloud & DevOps          81685.0
Other                   76570.0
Data & AI               75556.0
Enterprise & Systems    75410.0
Web Development         75410.0
Name: ConvertedCompYearly, dtype: float64

In [23]:
# 1. Create experience buckets (Binned Data)
# We group years into categories to make the chart readable
bins = [0, 2, 5, 10, 20, 50]
labels = ['Junior (0-2)', 'Mid (2-5)', 'Senior (5-10)', 'Expert (10-20)', 'Veteran (20+)']
df_refined['ExpLevel'] = pd.cut(df_refined['YearsCode'], bins=bins, labels=labels)

# 2. Group by Experience and Path (using our cleaned, non-exploded data for accuracy)
# We'll use a simplified version of our categorization here
def quick_path(row):
    # Simplification for the main dataframe
    if any(x in str(row['LanguageHaveWorkedWith']) for x in ['Bash', 'Go', 'Rust']): return 'Cloud/DevOps'
    if any(x in str(row['LanguageHaveWorkedWith']) for x in ['Python', 'SQL', 'R']): return 'Data/AI'
    return 'Web/Enterprise'

df_refined['MainPath'] = df_refined.apply(quick_path, axis=1)

experience_roadmap = df_refined.groupby(['ExpLevel', 'MainPath'], observed=True)['ConvertedCompYearly'].median().unstack()

print("ðŸ“ˆ The 2025 Salary Roadmap (Median Salary by Experience):")
print(experience_roadmap)

ðŸ“ˆ The 2025 Salary Roadmap (Median Salary by Experience):
MainPath        Cloud/DevOps  Data/AI  Web/Enterprise
ExpLevel
Junior (0-2)         29463.5  16714.0          9387.0
Mid (2-5)            34804.0  25523.0         20066.0
Senior (5-10)        56083.5  48726.0         48146.0
Expert (10-20)       84408.0  73785.0         75410.0
Veteran (20+)       104413.0  93972.0         97505.5

C:\Users\susin\AppData\Local\Temp\ipykernel_28052\527547927.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_refined['ExpLevel'] = pd.cut(df_refined['YearsCode'], bins=bins, labels=labels)
C:\Users\susin\AppData\Local\Temp\ipykernel_28052\527547927.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_refined['MainPath'] = df_refined.apply(quick_path, axis=1)

In [24]:
# 1. Clean the AIAgents column (It's likely 'Yes' / 'No' or a list of tools)
# Let's simplify it to 'Uses Agents' vs 'Does Not Use'
df_refined['Uses_AI_Agents'] = df_refined['AIAgents'].apply(lambda x: 'Yes' if pd.notnull(x) and x != 'No' else 'No')

# 2. Compare Salaries
ai_salary_gap = df_refined.groupby('Uses_AI_Agents')['ConvertedCompYearly'].median()

print(" The AI Agent Pay Premium:")
print(ai_salary_gap)

# 3. Percent difference
premium = ((ai_salary_gap['Yes'] - ai_salary_gap['No']) / ai_salary_gap['No']) * 100
print(f"\nDevelopers using AI Agents earn {premium:.1f}% more than those who don't.")

 The AI Agent Pay Premium:
Uses_AI_Agents
No     65850.5
Yes    76570.0
Name: ConvertedCompYearly, dtype: float64

Developers using AI Agents earn 16.3% more than those who don't.

C:\Users\susin\AppData\Local\Temp\ipykernel_28052\977943100.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_refined['Uses_AI_Agents'] = df_refined['AIAgents'].apply(lambda x: 'Yes' if pd.notnull(x) and x != 'No' else 'No')

In [25]:
# 1. Lowercase all Column Names
df_refined.columns = [col.lower() for col in df_refined.columns]
tech_exploded.columns = [col.lower() for col in tech_exploded.columns]

# 2. Lowercase and Clean String Values
# This makes it so you can search for 'python' instead of 'Python'
tech_exploded['language'] = tech_exploded['language'].str.lower().str.strip()

# 3. Handle the 'MainPath' and 'ExpLevel' column values
# Replace spaces with underscores so SQL queries look like path = 'cloud_devops'
df_refined['mainpath'] = df_refined['mainpath'].str.lower().str.replace('/', '_').str.replace(' ', '_')
df_refined['explevel'] = df_refined['explevel'].astype(str).str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

# 4. Final Peek
print("New SQL-Friendly Columns:")
print(df_refined.columns.tolist())
print("\nSample Path Names:", df_refined['mainpath'].unique())

New SQL-Friendly Columns:
['responseid', 'mainbranch', 'age', 'employment', 'remotework', 'edlevel', 'yearscode', 'devtype', 'country', 'languagehaveworkedwith', 'convertedcompyearly', 'aiselect', 'aiagents', 'explevel', 'mainpath', 'uses_ai_agents']

Sample Path Names: ['cloud_devops' 'web_enterprise' 'data_ai']

C:\Users\susin\AppData\Local\Temp\ipykernel_28052\223974629.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_refined['mainpath'] = df_refined['mainpath'].str.lower().str.replace('/', '_').str.replace(' ', '_')
C:\Users\susin\AppData\Local\Temp\ipykernel_28052\223974629.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_refined['explevel'] = df_refined['explevel'].astype(str).str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [27]:
from sqlalchemy import create_engine

# 1. Define your connection string
# Change 'your_password' to your actual pgAdmin password
connection_string = 'postgresql://postgres:2006@localhost:5432/so_survey_2025'

# 2. Create the Engine
engine = create_engine(connection_string)

# 3. Push the main profile data
df_refined.to_sql('dev_profiles', engine, if_exists='replace', index=False)

# 4. Push the exploded tech data
tech_exploded.to_sql('tech_stacks', engine, if_exists='replace', index=False)

print("Data stored in PostgreSQL.")

Data stored in PostgreSQL.